<%= render 'shared/user', user: @user%>
<ul class="all-post-card">
  <% if @user.posts.empty?%>
    <p>No posts</p>
  <%else%>
  <%@user.posts.each do |post|%>
    <li>
      <%=render 'shared/post', post: post%>
      <%= render 'shared/comment', comments: post.recent_comments%>
    </li>
  <%end%>
  <%end%>
</ul>
<div class='see-all-post-btn-container'><a class='see-all-post-btn'>Pagination</a></div>
